.position {
    width: 700px;
    height: 450px;
    border: solid;
}

.green {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: green;
    margin-bottom: 25px;
}

.red {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: red;
    margin-bottom: 25px;
    left: 414px; 
}

.blue {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: blue;
    /* margin-bottom: 25px; */
    left: 207px;
    bottom: 333px;
}

.helen {
    position: relative;
    width: 600px;
    height: 400px;
    border: solid;
}

.green1,
.red2,
.blue2
    {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;       
    }

.green1 {
    background-color: green;
    margin-bottom: 10px;
}

.red2 {
    position: absolute;
    top: 108px;
    right: 285px;
    background-color: red;
    margin-bottom: 10px
}

.blue2 {
    position: absolute;
    background-color: blue;
    top: 59px;
    right: 392px;

}