

.green {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: green;
    margin-bottom: 25px;
}

.red {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: red;
    margin-bottom: 25px;
    left: 440px;
    top: 228px;
}

.blue {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: blue;
    margin-bottom: 25px;
    left: 220px;
    top: 114px;
}

/* .position1 {
    display: inline-block;
    position: relative;
}

h2 {
    position: absolute;
    right: 0;
    top: 0;
}    */